colorHeader = #3438E7
colorTitulo = #FFFFFF
colorItemMenu = #14BABC

.headerppal
	background colorHeader
	overflow hidden
	
	h2
		color colorTitulo
	
	.header-logotipo
		border-rigth-width 2px
		border-color colorTitulo
		border-style solid
		float left
		margin-right 100px
		
		img						
			height 120px
			padding 20px
			width 120px
		
	.header-avatar
		float right		
		
		img
			height 100px
			width 100px			
			
.menu
	ul
		li 
			display inline-block
			background colorItemMenu
			padding 15px
			margin 0px
			
			a 
				color colorTitulo
				text-decoration none
				

.footer
	
	background #726B6B
	
	.realizadopor		
		padding-top 30px
		
	.realizadoclase		
		padding-bottom 30px
		
	p		
		color colorTitulo
		text-align center

	